{% extends "header.html" %}
{% block content %}

{% for item in notifications %}
<div class="card" style=" margin-left:37%;width: 600;">
    <div class="card-body" style="padding-top: 0px;">
        <h4 class="card-title"><a href="/post/{{post.id}}/">{{item.post.title}}</a></h4>
        <h5 class="card-text">
          {% if item.post.posted_by.profile_pic %}
          <img src="{{ item.post.posted_by.profile_pic.url}}" alt="" style=" margin-right: 5px; height: 40;">
          {% else %}
          <div></div>
          {% endif %}
          <a href="/profile/{{item.post.posted_by.id}}/">@{{item.post.posted_by}}</a></h5>
        <br>
        <p class="card-text">{{item.post.time_stamp}}</p>
        <p class="card-text">{{item.post.body}}</p>
        {% if item.post.image %}
            <img src="{{ item.post.image.url}}" alt="" style="height: 300; width: 300;">
        {% else %}
            <div></div>
        {% endif %}
{% endfor %}


{% endblock %}